@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
.mobile-menu {
  font-family: "Roboto", sans-serif;
}
.list {
  list-style: none;
}
.list li {
  margin: 25px 0;
}
.list li:first-child {
  margin-top: 50px;
}
.library-list li:first-child {
  margin-top: 20px;
}
.list a {
  padding-left: 60px;
  color: black;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
}
.library-list {
  margin-left: 40px;
  list-style: none;
}
.logo-text {
  padding: 60px 20px 0;
  font-size: 32px;
  font-weight: 500;
}
.nav-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 28px;
}
.open-btn {
  position: fixed;
  top: 16px;
  left: 16px;
}
.nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}
.nav.visible {
  transform: translateX(0);
}
.nav-black {
  background-color: #000;
  width: 60%;
  max-width: 380px;
  min-width: 280px;
  transition-delay: 0.4s;
}
.nav-black.visible {
  transition-delay: 0s;
}
.nav-red {
  background-color: red;
  width: 95%;
  transition-delay: 0.2s;
}
.nav-red.visible {
  transition-delay: 0.2s;
}
.nav-white {
  background-color: #fff;
  width: 95%;
  position: relative;
  transition-delay: 0s;
}
.nav-white.visible {
  transition-delay: 0.4s;
}
.close-btn {
  position: absolute;
  font-size: 36px;
  color: #000;
  top: 10px;
  right: 20px;
  opacity: 0.5;
}
