/* POPULAR FILMS */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url(./mobileMenu.css);

:root {
  --info-color: #ff6b08;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-section {
  padding-top: 20px;
  margin: 0 auto;
  width: 320px;
  font-family: "Roboto", sans-serif;
}
.home-film-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.home-film-item {
  width: 280px;
  min-height: 443px;
  height: 100%;
  list-style-type: none;
  cursor: pointer;
  transition: 350ms;
}

.home-film-image {
  width: 100%;
  height: 402px;
  border-radius: 6px;
}
.home-film-details {
  margin: 5px 0 0 0;
}
.home-film-title {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 16px;
}
.home-film-info {
  font-size: 12px;
  font-weight: 500;
  color: var(--info-color);
  line-height: 16px;
}
.home-film-rating {
  margin-right: 2px;
  color: #fff;
  background: var(--info-color);
  border-radius: 5px;
  padding: 2px 5px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.17;
}

@media screen and (min-width: 768px) {
  .main-section {
    width: 768px;
  }
  .home-film-list {
    gap: 32px;
  }
  .home-film-item {
    width: 336px;
    min-height: 495px;
    height: 100%;
  }
  .home-film-item:hover {
    scale: 1.02;
  }
  .home-film-image {
    height: 455px;
  }
}

@media screen and (min-width: 1280px) {
  .main-section {
    width: 1280px;
  }
  .home-film-list {
    gap: 16px;
    justify-content: flex-start;
    padding-left: 31.5px;
  }
  .home-film-item {
    width: 395px;
    min-height: 634px;
    height: 100%;
  }
  .home-film-image {
    height: 574px;
  }
  .home-film-title {
    font-size: 20px;
    line-height: 24px;
  }
  .home-film-info {
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
  }
}

/* ---------------------------------------------------------------- */
/* <-----------------------  PAGINATION  -------------------------> */
.pagination-container {
  margin: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination-button {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
}
.arrows {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
  font-weight: normal;
  color: white;
}
.arrows:focus {
  background-color: var(--info-color);
}

.arrows:focus .pagination-svg {
  fill: white;
}

/* .pagination-button:hover, */
.pagination-button:focus {
  background-color: var(--info-color);
  color: #fff;
}
.dots,
.hidden {
  display: none;
}
@media screen and (min-width: 768px) {
  .pagination-container {
    margin: 60px 0;
  }
  .dots {
    display: flex;
    justify-content: center;
    line-height: 34px;
    cursor: auto;
  }
  .dots:focus {
    background-color: transparent;
    color: black;
  }
  .hidden {
    display: block;
  }
}
